body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Hanken Grotesk", sans-serif;
    margin: 0px;
}

#result-container {
    background-color: lightgreen;
    width: 375px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#continue {
    margin: 20px;
    color: white;
    background-color: blue;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
    border: none;
}