body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Hanken Grotesk", sans-serif;
    margin: 0px;
}

#result-container {
    background-color: white;
    width: 375px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#continue {
    color: white;
    background-color: blue;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    border: none;
}

#result {
    width: 100%;
    height: 100%;
    background-color: hsl(252, 100%, 67%);
    border-radius: 20px;
}

#summary {
    width: 100%;
}

p {
    font-size: 18px;
}

.category {
    border-radius: 10px;
    background-color: yellow;
    padding: 5px;
}